<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:replace="template :: head">
</head>
<body>
<div class="container">

    <div id="top" th:include="template :: masthead"></div>

    <div id="middle">

        <h2>Your Stock Holdings</h2>

        <p>Cash remaining: <b th:text="${cash}"></b></p>

        <table class="table table-striped">
            <tr>
                <th>Company</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total Value</th>
            </tr>
            <tr th:each="holdingData : ${portfolioData}">
                <td th:text="${holdingData.description}"></td>
                <td th:text="${holdingData.shares}"></td>
                <td th:text="${holdingData.price}"></td>
                <td th:text="${holdingData.total_value}"></td>
            </tr>
        </table>

    </div>

    <div th:replace="template :: footer"></div>
</div>
</body>
</html>