<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:replace="template :: head">
</head>
<body>
<div class="container">

    <div id="top" th:include="template :: masthead"></div>

    <div id="middle">

        <!-- TODO - Display portfolio -->
        <p>Portfolio!</p>
        <table style="width: 100%">
        	<tr>
        		<th>Name</th>
        		<th>Shares</th>
        		<th>Price($)</th>
        		<th>Value($)</th>
        	</tr>
       		<tr th:each="stock : ${stocks}">
       			<td th:text="${stock.value[0]}">name</td>
       			<td th:text="${stock.value[1]}">shares</td>
       			<td th:text="${stock.value[2]}">price</td>
       			<td th:text="${stock.value[3]}">value</td>
       		</tr>
        	
        </table>

    </div>

    <div th:replace="template :: footer"></div>
</div>
</body>
</html>